.Container {
  .Form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    gap: $space-4;
    margin-bottom: $space-6;
  }

  .ListUser {
    margin: $space-4 auto;
    display: grid;
    gap: $space-4;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
  }

  @media (max-width: $md) {
    .ListUser {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media (max-width: $sm) {
    .ListUser {
      grid-template-columns: 1fr;
    }
  }
}
