.Container {
  .Form {
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: row;
    gap: $space-4;
  }

  .ListUser {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
  }
}
