.User {
  border: 1px solid $neutral-200;
  padding: $space-6;
  border-radius: $space-3;
  display: flex;
  gap: $space-3;
  cursor: pointer;
  transition: 0.25s;

  &:hover {
    background-color: $neutral-25;
    box-shadow: 0 0 0 4px $neutral-100;
    border-color: transparent;
  }
  &:active {
    background-color: $primary-25;
    box-shadow: 0 0 0 4px $primary-100;
  }

  .Avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  .Info {
    flex: 1;

    .Name {
      @include subtitle2;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 1;
    }

    .Type {
      @include body2;
      color: $text-secondary;
    }
    .Score {
      @include caption;
      color: $primary-500;
    }

    a {
      margin-top: $space-2;
      display: inline-block;
    }
  }

  &.Skeleton {
    pointer-events: none;

    .Avatar {
      animation: $skeleton;
    }

    .Info {
      flex: 1;

      .Name {
        width: 100%;
        max-width: 80px;
        height: 16px;
        animation: $skeleton;
        margin-bottom: $space-3;
      }

      .Type {
        width: 100%;
        max-width: 40px;
        height: 14px;
        animation: $skeleton;
      }
      .Score {
        width: 100%;
        max-width: 40px;
        height: 12px;
        animation: $skeleton;
      }
    }
  }
}
